---
---

@import "{{ site.theme }}";

.center-image
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.w-30
{
    width: 30%;
}

.w-50
{
    width: 50%;
}

.w-70
{
    width: 70%;
}